body{
    margin: 0;
    padding: 0;
}
table, tr, td {
    border: none !important;
    background: none !important;
}
#top {
 margin-bottom: 10px;
}

#bottom {
   
    margin: 10px 0px 0px 0px;
}

#left {
   
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
   background: #dddddd;
  
}
.center_content table{
    border: 0;
}
.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #fff;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


